body {
  background: #fafafa;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #000080;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}
.article-content-home {
  max-height: 500px !important;
  overflow: hidden !important;
}
.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.logo-img {
	background-image:url("https://iitg-blog-files.s3.us-east-2.amazonaws.com/iitg_logo.jpg?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEJ3%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCmFwLXNvdXRoLTEiRjBEAiAnbIFLdeVm16mQSXa%2Bjlp6wMwS57X1HQ5FOy7BCDkoqQIgWndYuqz1gjXJgtv32iyo2IJN9XWGT9LvFc%2Fl0R0kXbcq%2FwII1v%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw2Mjk3ODc2MTg2MTAiDFAzLRRWWgmZ3wr2CSrTAuD4kjV2UTOuPk3fhpJFapc3o7P2yVojf9x5tNsgAHXnknsyWX%2BeNSgfzwGk12Y3CJW0Z30Iz0rkytHvF2UC3IPP2aD3BSQqfKEnRYCBnK4b%2FDoOZgzY4BttKvXm5MVMFEAyDY8zefDp5pDkj0OzipZUpB%2B10xOxJ210HnR6MppcXKrym%2BUaDISKSoQ694JYMeBYAHtBgxj2vhHw4egoKIsilH1tMZV5IoBenNNC1EzQvyM3wOekcV9xjAkvVbrUo%2BjUxPAFvn9wtZTIn%2F4uiRXVxUgMS5CYpEwY0%2BxMdMXW2MbZbBnvGIh1Jm1WTzKQ7qc5YjxEi8w5rqUpxSim6JVSFcWAE3wMFR%2B9kuKlXYQsdiuiXqU2%2BESppDTtkmG6GwmKZEB0W2CWI%2FZO4ZC6AdzQnDKBIuJBVTUk7DEZUOlGKFK601MrXxMZ1lmOjG1euUjR2jC3xLiJBjq0AlqNxzQZC0M8zlTF8c3MkUuvfYunWwNLp5MakIxNazoW9tkMgabbCaU2CMk0dT566JmJKzHigWBS1eB6mCGitZ8eSDPnBDtnWvnsR3aYcPhjcZsalJDXrmVHXBeq1n0Xslo1o7zhOQaYNF6NdCCXKsc2EFTsrd8PnkqqyTxPJtDcwXcvOZNZ5bj7%2Fl30A0XMEUfOZQRIvqCK6Fk1aioGParmkCHIQAAHOxIeoEVmZu%2FJh%2BjMJUWUcRLXur23YFJP8xow%2BkMs8w9wLADxYvV6k5iR4y6CM7HLvYGUc7cmRem%2FhV%2FqA2TPBkTOkfwXNakFpfm5F4ENpIXVjffskBs1QHAeuHYs9%2Bhu086iyTm%2FOucEzGi8PpIfSSdVU2%2FbK%2BltnMo2F8fVQBDgPL5nkckYJlA6BmHu&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20210831T135158Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAZFISENUZKKAQ7QJP%2F20210831%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Signature=c81587c0ec8106c7e536c42097ff70744043e6cedcdf9476f4cba97d50283f68");
  height: 40px;
  width: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
}

.background-base {
  background-image: url("https://iitg-blog-files.s3.us-east-2.amazonaws.com/iitg6.jpg?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEJ3%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCmFwLXNvdXRoLTEiRjBEAiAnbIFLdeVm16mQSXa%2Bjlp6wMwS57X1HQ5FOy7BCDkoqQIgWndYuqz1gjXJgtv32iyo2IJN9XWGT9LvFc%2Fl0R0kXbcq%2FwII1v%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw2Mjk3ODc2MTg2MTAiDFAzLRRWWgmZ3wr2CSrTAuD4kjV2UTOuPk3fhpJFapc3o7P2yVojf9x5tNsgAHXnknsyWX%2BeNSgfzwGk12Y3CJW0Z30Iz0rkytHvF2UC3IPP2aD3BSQqfKEnRYCBnK4b%2FDoOZgzY4BttKvXm5MVMFEAyDY8zefDp5pDkj0OzipZUpB%2B10xOxJ210HnR6MppcXKrym%2BUaDISKSoQ694JYMeBYAHtBgxj2vhHw4egoKIsilH1tMZV5IoBenNNC1EzQvyM3wOekcV9xjAkvVbrUo%2BjUxPAFvn9wtZTIn%2F4uiRXVxUgMS5CYpEwY0%2BxMdMXW2MbZbBnvGIh1Jm1WTzKQ7qc5YjxEi8w5rqUpxSim6JVSFcWAE3wMFR%2B9kuKlXYQsdiuiXqU2%2BESppDTtkmG6GwmKZEB0W2CWI%2FZO4ZC6AdzQnDKBIuJBVTUk7DEZUOlGKFK601MrXxMZ1lmOjG1euUjR2jC3xLiJBjq0AlqNxzQZC0M8zlTF8c3MkUuvfYunWwNLp5MakIxNazoW9tkMgabbCaU2CMk0dT566JmJKzHigWBS1eB6mCGitZ8eSDPnBDtnWvnsR3aYcPhjcZsalJDXrmVHXBeq1n0Xslo1o7zhOQaYNF6NdCCXKsc2EFTsrd8PnkqqyTxPJtDcwXcvOZNZ5bj7%2Fl30A0XMEUfOZQRIvqCK6Fk1aioGParmkCHIQAAHOxIeoEVmZu%2FJh%2BjMJUWUcRLXur23YFJP8xow%2BkMs8w9wLADxYvV6k5iR4y6CM7HLvYGUc7cmRem%2FhV%2FqA2TPBkTOkfwXNakFpfm5F4ENpIXVjffskBs1QHAeuHYs9%2Bhu086iyTm%2FOucEzGi8PpIfSSdVU2%2FbK%2BltnMo2F8fVQBDgPL5nkckYJlA6BmHu&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20210831T135244Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAZFISENUZKKAQ7QJP%2F20210831%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Signature=19eec636c273d09dd6f89c724487d9d8833eb00d8f1c513541f0643ce9b78408");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.padit{
  margin-top: 3rem;
  padding-top: 20px;
}
